### Intellij ###
*.iml
.idea
out/

### Eclipse ###
bin/
src/META-INFO/*.properties
*.properties
.classpath
.settings/
.project

### Netbeans ###
core
nbproject/*
!nbproject/project.properties
!nbproject/project.xml

### Other ###
*.class
.DS_Store
*.so
*.log
*.out
*~
*.swp
*.lock
